


/* --------------- styles for modal -----------------------*/

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.hidden { display: none; }


/* needed for old browsers */
dialog {
  display: block;
  border: 0;
}
/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}
/* overlay covers everything */
.simple-modal-overlay,
.simple-animated-modal-overlay,
.simple-animatedtransform-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: .7;
  z-index: 666;
  cursor: pointer;
}
.simple-modal-overlay[data-background-click="disabled"],
.simple-animated-modal-overlay[data-background-click="disabled"],
.simple-animatedtransform-modal-overlay[data-background-click="disabled"],
.simple-left-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}
.simple-animated-modal-overlay,
.simple-animatedtransform-modal-overlay {
  animation: fadewhite ease .5s 1 normal ;
}

@keyframes fadewhite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}
/* modal */
.simple-animatedtransform-modal-title {
  margin-bottom: 15px;
}
.simple-modal,
.simple-animated-modal,
.simple-animatedtransform-modal {
  position: fixed;
  left: 20%;
  width: 60%;
  top: 5vh;
  max-height: 90vh;
  /*
  If you have problems with vh units 
  top: 5%;
  max-height: 90%;
  */
  border: 2px solid #000; 
  background: #fff;
  z-index: 667;
  padding: 2em;
  right: auto;
  overflow: auto;
}
/*.simple-modal-close,
.simple-animated-modal-close,
.simple-animatedtransform-modal-close {
  float: right;
  background: #128197;
  border-radius: 1em;
  color: #fff;
  border: 0;
  font: inherit;
  padding: .25em .5em;
  cursor: pointer;
}
.simple-animatedtransform-modal-close:focus,
.simple-animatedtransform-modal-close:hover,
.simple-modal-close:focus,
.simple-modal-close:hover,
.simple-modal-close:active {
  outline: 1px dotted #fff;  
  background: #fff;
  color: #128197;
  border: solid 2px #128197;
}
.simple-modal-close:hover,
.simple-modal-close:active {
  background: #4d287f;
  
}*/

.simple-animated-modal {
  -webkit-animation: apparition ease .5s 1 normal ;
          animation: apparition ease .5s 1 normal ;
}
.simple-animatedtransform-modal {
  -webkit-animation: pop ease .5s 1 normal ;
          animation: pop ease .5s 1 normal ;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
	  max-height: 0;
	  width: 0;
	  left: 50%;
  }
  100% {
    opacity: 1;
	  max-height: 100%;
	  width: 60%;
	  left: 20%;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
	  max-height: 0;
	  width: 0;
	  left: 50%;
  }
  100% {
    opacity: 1;
	  max-height: 100%;
	  width: 60%;
    left: 20%;
  }
}

@-webkit-keyframes pop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  -webkit-transform: scale(0);
	          transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	        transform: scale(1);
	  max-height: 100%;
	  width: 60%;
    left: 20%;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  -webkit-transform: scale(0);
	          transform: scale(0);
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transform: scale(1);
	        transform: scale(1);
	  max-height: 100%;
	  width: 60%;
    left: 20%;
  }
}


/* another modal styling example */
/* tooltip modal for it’s easy button */
.simple-left-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}

.simple-left-modal {
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 667;
  position: fixed;
  width: 40em;
  max-width: 100%;
  padding: 0 1em 1em 1em;
  font-size: 1em;
  border: 0;
  overflow: auto;
  background-color: #aaa ; /* fallback IE9 */
  background-image:
      -webkit-linear-gradient(
        top,
        #128197 3em,
        #f7f7f7 3em
      );  background-image:
      linear-gradient(
        to bottom,
        #128197 3em,
        #f7f7f7 3em
      );
  background-attachment: local;
}
.simple-left-modal-close {
  position: absolute;
  top: .5em;
  right: 0;
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.simple-left-modal-title {
  color: #fff;
  font-size: 1.5em;
}

/* it can be easily adapted in media-queries for tablets/mobile */

/* for this example: tablets */
@media (max-width: 991px) {

  .simple-modal,
  .simple-animated-modal,
  .simple-animatedtransform-modal {
    left: 5%;
    top: 5%;
    height: 90%;
    width: auto;
  }
  
}

/* for this example: mobile */
@media (max-width: 768px) {

  .simple-modal,
  .simple-animated-modal,
  .simple-animatedtransform-modal {
    left: 1%;
    top: 80px;
    width: 98%;
    height: auto;
  }

}



