/*accessibility*/
.link-background:hover {
    background-color: #C3C0B9; 
}
#video-link:focus > .link-background,
#tips-link:focus > .link-background {
    background-color: #C3C0B9; 
}
/*tip sheets*/
.tips-btn {
  padding: 15px;
  background-color: #DFDCD4;
  color: #484234;
  font-size: 22px;
  font-size: 600;
  margin-top: 20px;
  line-height: 48px;
  border-radius:3px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
  border-color: #DFDCD4;
}
.bio-block {
  padding: 15px;
  background-color: #DFDCD4;
  color: #484234;
  font-size: 18px;
  margin-top: 20px;
  line-height: 20px;
  border-radius:3px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
  border: solid 1px #C1BFB9;
}
.media-btn {
  padding: 15px;
  background-color: #91C847;
  color: #484234;
  font-size: 22px;
  font-size: 600;
  margin-top: 20px;
  line-height: 48px;
  border-radius:3px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
  border-color: #DFDCD4;
}
.media-btn:hover {
  color: #484234;
}
.fa-arrow-alt-circle-down {
  margin-right: 10px;
}
/*videos*/
#content {
    /*background-color: #2D154E;*/
}
.thumbnail:before {
    content: url("../lib/font-awesome/svgs/solid/play-circle-white.svg");
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 1;
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin-left: -30px;
    opacity: 0.7;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.thumbnail:focus:before,
.thumbnail:hover:before {
    opacity:0.85;
}
/*make video modalbackground clear*/
.modal-header,
.modal-content {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-footer {
  border-top: none;
}
.modal-title {
  color: #fff;
}
.modal-content {
  box-shadow: none;
  border: none;
}
button.close {
  opacity: 0.7;
  color:#fff;
}
button.close:hover,
button.close:focus {
  opacity: 0.9;
  color:#fff;
}

.video-description {
    font-size: 14px;
    color: #fff;
    padding: 10px 5px;
}
.video-header {
    min-height: 66px;
    font-size: 14px;
    color: #fff;
    background-color: #00395E;
    padding: 10px 5px;
}
#video-row {
    margin-top: 20px;
}
#video-row .thumbnail {
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #0071BC;
    border-radius: 3px;
    background-color: #2E2E2E;
}
#video-row .caption{
    padding:0;
    
}
/*all pages*/
/*#content {
  padding: 0
}*/
#resources-header {
    background-color: #CAC4BA;
    padding-top: 10px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
}
#resources-footer {
    background-color: #CAC4BA;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
}
#course-links .navbar-nav>li>a:focus,
#course-links .navbar-nav>li>a:hover,
.navbar-collapse .navbar-nav>li>a:focus,
.navbar-collapse .navbar-nav>li>a:hover {
    font-weight: normal
}
.link-background {
    background-color: #DFDCD4; 
    margin: 0 10px;"
}

.sheets-link{
    background-color: #471405;
    border-radius: 5px;
    border: 4px solid #B9654C;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);

}
.back-link{
    background-color: #033353;
    border-radius: 5px;
    border: 4px solid #0071BC;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.excel-link{
    background-color: #1D6B41;
    border-radius: 5px;
    border: 4px solid #32C481;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.excel-link p,
.back-link p,
.sheets-link p {
    font-size: 140%;
}
a:focus .excel-link,
a:focus .back-link,
a:focus .sheets-link,
a .excel-link:hover,
a .back-link:hover,
a .sheets-link:hover{
    background-color: #423C34;
    border-color: #4E4545;
    box-shadow: none;
}


/* custom dropdown */
.btn-videos {
  color: #fff;
  background-color: #2D154E;
  border-color: #59378A;
  padding:11px;
  font-size: 20px;
}
.btn-videos:focus,
.btn-videos.focus {
  color: #fff;
  background-color: #59378A;
  border-color: #2D154E;
}
.btn-videos:hover {
  color: #fff;
  background-color: #59378A;
  border-color: #2D154E;
}
.btn-videos:active,
.btn-videos.active,
.open > .dropdown-toggle.btn-videos {
  color: #fff;
  background-color: #59378A;
  border-color: #2D154E;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #59378A;
}
.btn-videos:active:hover,
.btn-videos.active:hover,
.open > .dropdown-toggle.btn-videos:hover,
.btn-videos:active:focus,
.btn-videos.active:focus,
.open > .dropdown-toggle.btn-videos:focus,
.btn-videos:active.focus,
.btn-videos.active.focus,
.open > .dropdown-toggle.btn-videos.focus {
  color: #fff;
  background-color: #59378A;
  border-color: #2D154E;
}
.btn-videos:active,
.btn-videos.active,
.open > .dropdown-toggle.btn-videos {
  background-image: none;
}
.btn-videos.disabled:hover,
.btn-videos[disabled]:hover,
fieldset[disabled] .btn-videos:hover,
.btn-videos.disabled:focus,
.btn-videos[disabled]:focus,
fieldset[disabled] .btn-videos:focus,
.btn-videos.disabled.focus,
.btn-videos[disabled].focus,
fieldset[disabled] .btn-videos.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-videos .badge {
  color: #337ab7;
  background-color: #fff;
}
@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 768px) {
  .thumbnail:before {
    height: 60px;
    width: 60px;
    top: 15%;
    left: 50%;
    margin-left: -30px;
  }
 
  .thumbnail:hover:before {
      top: 15%;
      left: 50%;
      margin-left: -30px;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}
@media (max-width: 768px) {
  .thumbnail:before {
    height: 40px;
    width: 40px;
    top: 15%;
    left: 50%;
    margin-left: -20px;
  }
  
  .thumbnail:hover:before {
      margin-left: -20px;
  }
  #content {
    padding: 30px 0;
  }
  #resources-header {
      margin: 0;
  }
  .select-container {
    margin-bottom: 20px;
  }
  .bio-block {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 350px) {
  .thumbnail:before {
    top: 5%;
    left: 50%;
  }

  .thumbnail:hover:before {
      top: 5%;
  }
}
