/*all pages*/

#course-links .navbar-nav>li>a:focus,
#course-links .navbar-nav>li>a:hover,
.navbar-collapse .navbar-nav>li>a:focus,
.navbar-collapse .navbar-nav>li>a:hover {
    font-weight: normal
}
.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-default .navbar-nav > .active > a {
    color: #000;
}
.bio-btn {
    margin-top: 10px;
    background: rgb(214,211,214);
    background: linear-gradient(0deg, rgba(214,211,214,1) 0%, rgba(249,249,251,1) 100%);
    padding: 5px 15px;
    border-radius: 45px;
    border: 1px solid #afafaf
}
.hoverable {
  transition: box-shadow .55s;
  box-shadow: 0;
}
.hoverable:focus,
.hoverable:hover {
  transition: box-shadow .45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    height: 40px;
}

#content {
    padding:30px 10%
}
#content-calendar {
    padding:30px 5%
}
.know {
    padding: 20px; 
    background: #dcdcdc;
}
.people-description {
    transition: box-shadow .35s;
    box-shadow: 0;
}
.people-description:focus,
.people-description:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer-links {
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
}

@media (max-width: 1199px) {
    .know {
        padding: 20px; 
    }
}

@media (max-width: 1042px) {
    .nav-btn {
        padding: 10px;
    }
}

@media (max-width: 991px) {
    h2,
    h3 {
        margin-top: 10px;
    }
    header {
        margin-top: 50px;
    }
    #course-navbar {
        border-bottom: none;
    }
    #course-navbar li {
        width: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
        text-align: left;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    #content {
        padding:5%
    }
    .footer-links {
        font-size: 16px;
        margin-left: 1%;
    }
    header {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .people-mobile-text {
        padding-top:35px
    }
    #content-calendar {
        padding:30px 0;
    }
    #content {
        padding:30px 15px;
    }
}

@media (max-width: 450px) {
    .people-mobile-text {
       font-size: 16px;
       padding-top:15px
    }
}
