

/* Body 
-------------------------------------------------- */
/*body { 
  background: url('../images/home/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
header{
    margin: 0 -15px 0 -15px;
}

thead {
    font-family: georgia; 
    padding: 4%;
    color: #4E4545;
}
.shadow {
    box-shadow: 0px 8px 4px -4px rgba(0, 0, 0, 0.3);
}


.container-shadow{
    box-shadow: 0px 0px 45px 20px rgba(0, 0, 0, 0.3);
}

.shaded-row {
    padding: 15px 0;
    background: #DFDCD4;
}
.no-gutter  {
    padding-right:0;
    padding-left:0;
}
/*Video container*/
.videoframe {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#393941+0,29292f+10,29292f+90,393941+100 */

    border: 5px solid #90C846;
    position: relative;
}
.img-shadow {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.embed-responsive-3by4 {
  padding-bottom: 133%;
}
/* navbar
-------------------------------------------------- */
.sticky {
    position:fixed;
    top:0;
    z-index: 10;
    width:100%;
    text-align: center;
    max-width: 1170px;
}

.sticky > li {
    float: none;
    display: inline-block;
}


/* Header
-------------------------------------------------- */
#cBanner {
    background-color: #E4D9C0;
}
#content {
    /*background-color: #F0EDE7;*/
    background-color: #fff;
    padding: 30px 30px 30px 30px;
    margin: 0 -15px;
}

.tip-row{
    margin: 0 -30px 0 -30px;
}

.tip-card{
    padding: 15px;
}

.tip-h2{
    color: #5F7F2F;
}

.tip-divider{
    margin: 15px 0;
    border-top: 1px solid #5F7F2F;
}

.card-row-left{

    padding: 0;
    margin-left: -30px;
    float: none;
}

.card-row-right{

    padding: 0;
    margin-right: -30px;
    float: none;
}
.card {
    background-color: #fff;
}
.card-left {
    border-radius: 0 10px 10px 0;
    padding: 15px;
}
.card-right {
    border-radius: 10px 0 0 10px;
    padding: 15px;
}
.card-center {
    border-radius: 10px;
    padding: 15px;
}
.font-size-large {
    font-size: 20px;
    font-weight: 600;
    color: #585858;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

p {
    font-size: 18px;
}
h1{
    color: #23330D;
    font-size: 50px;
    font-family: Arial, serif;
    font-weight: bold;
    margin: 0;
}


h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: Arial, serif;
}
h3 {
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

h4 {

    font-family: Arial, serif;
    font-size: 20px;
    color: #5B5446;
    font-weight: bold;
    margin: 0;
}
.med-1 {
    font-size: 28px;
}
.med-2 {
    font-size: 32px;
    list-style-type:none;
    padding-left: 0;
    font-weight: 500;
}
.app-divider {
    margin: 5px 0 10px 0;
    border-top: 1px solid #59378A;
}
.header-green {
    background-color: #91C847;
    padding: 10px 10px 10px 30px;
    margin: -15px -15px 15px -15px;
    border-radius: 0 10px 0 0;
}

.block {
    background-color: #fff;
    padding: 15px;
}
.card-spacer {
    height: 60px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
.spacer-15 {
    height: 15px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
.spacer-30 {
    height: 30px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
.spacer-60 {
    height: 60px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.drop-p {
    padding: 0 0 0 15px;
    color: #423C34;
}

#card-collapse-1 li, #card-collapse-2 ul, #card-collapse-3 ul, #card-collapse-4 li {
    color: #423C34;

}

.well-sm {
    margin-top: 10px;
}
#taper-alert:focus {
    border: solid 1px #a94442;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
    padding: 10px;
    background-color: #C3BDAA;
    color: #DEE4E7;
    border-top: 2px solid #C3BDAA;
    margin: 0 -15px 50px -15px;
}
.footer a {
    color: #000;
    font-weight: 500;
}
.footer ul {
    list-style-type: none;
    margin: 5px;
}
.footer li {
    padding-left: 5px;
}
/* Accessibility
-------------------------------------------------- */
.can-focus a:focus {
     outline:2px solid #4D90FE;
     -webkit-box-shadow: 0px 0px 5px  #4D90FE;
     box-shadow: 0px 0px 5px  #4D90FE;
 }

 /*Skip Nav */
#skiplink a:active, #skiplink a:focus {
    background-color: #2D7C8B;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: auto;
    overflow: visible;
    padding: 3px 5px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: auto;
    z-index: 5;
    display:block;
}


.skip {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

#skiplink a {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #5E408B;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* buttons
-------------------------------------------------- */

.btn-primary {
    background-color: #2D7C8B;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
    -webkit-appearance: none;
    }

.btn-primary-down{
    color: #fff;
    background-color: #1f5560;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
}

.btn-primary-down:hover{
    color: #fff;
    background-color: #1f5560;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
}

.btn-primary-down:focus {
    color: #fff;
    background-color: #1f5560;
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
    border-radius: none;
}

.btn-primary:hover{
    background-color: #1f5560;
    box-shadow: none;
}


.btn-orange {
    background-color: #FE7E00;
    color: #000;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
    -webkit-appearance: none;
    }

.btn-orange:focus,
.btn-orange:hover{
    background-color: #d66d05;
    box-shadow: none;
}

.btn-green {
    background-color: #40BC43;
    color: #000;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
    -webkit-appearance: none;
    }

.btn-green:focus,
.btn-green:hover{
    background-color: #329835;
    box-shadow: none;
}

.btn-blue {
    background-color: #596173;
    color: #fff;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    font-weight: bold;
    -webkit-appearance: none;
    }

.btn-blue:focus,
.btn-blue:hover{
    background-color: #6e7890;
    color: #fff;
    box-shadow: none;
}

.nav-btn {
    color: #000;
    background-color: #E4D9C0;
    box-shadow: none;
    padding: 10px 20px;
    border:none;
    border-radius: 0px;
    font-weight: 500;
    font-size: 18px;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn.current {
    background-color: #FAF1DA;
}

.people-row,
.header-padding {
    padding:0 8%;
}
/* Page Specific
-------------------------------------------------- */

/*home*/
#audio-side {
    padding: 20px;
}
audio { 
  width: 100%; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  /*transform: scale(1.05);*/
}
#btn-audio-cc {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
#people-header {
    margin-top: 100px;
}
.people-description {
    position: absolute;
    bottom:  0;
    margin: 15px;
    padding: 10px 30px 10px 10px;
    background-color: rgba(234, 234, 234, 0.9);
    min-height: 115px;
    cursor: pointer;
}
.people-description h4,
.people-description p {
    font-size: 14px;
    margin-bottom: 0;
}
.fa-angle-right {
    position: absolute;
    right:  5px;
    bottom: 30px;
}
.people-description-mobile {
    cursor: pointer;
}
/*knowledge*/
.quiz-row {
    min-height: 100px;
}
#quiz-question {
    color: #737473;
    font-size: 22px;
    line-height: 28px;
}
.quiz-number {
    font-size: 28px;
}

.btn-quiz {
    width: 100%;
    background-color: #F2F3F2;
    color:  #515151;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
    font-weight: 800;
}

.btn-quiz:focus,
.btn-quiz:hover {
    background-color: #E0E1E3;
}

.btn-quiz.selected {
    background-color: #6F706F;
    color: #fff;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.3);
}

.btn-ask {
    width: 100%;
    background-color: #fff;
    color:  #6F706F;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.3);
    font-weight: 400;
}
.btn-ask:focus,
.btn-ask:hover {
    background-color: #F2F3F2;
}
.btn-ask.selected {
    background-color: #6F706F;
    color: #fff;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.3);
}

.quiz-feedback {
    background-color: #F1EEE4;
    padding: 40px;
    font-size: 20px;
    margin-top: 40px;
}
.ask-modal-text p{
    font-size: 30px;
    font-weight: 400;
}
#quiz-feedback-header {
    margin-bottom: 20px;
}
.know-box {
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    padding: 10px 10px 10px 110px;
    border-radius: 5px;
    border: solid 1px #eee;
}
.img-know {
    max-width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}
.ask-row {
    padding: 20px 10px;
}
.ask-row-colored {
    background-color: #F1EEE5;
}


/*alternatives*/
.img-alt {
    border: solid 1px #707070;
    border-radius: 5px;
}
.alt-height {
    margin-top: 30px;
}

/*taper*/
.taper-left {
    padding-right:  20px;
    border-right: solid 1px #C3BDAA;
}

.verify-box {
    margin-left: 5px;
    margin-top: 5px;
}

.taper-right {
    padding-left:  20px;
}

#download {
    float: right;
}

@media (max-width: 1315px) {
    .people-row,
    .header-padding {
        padding:0 5%;
    }
}
@media (max-width: 1199px) {
    .people-row,
    .header-padding {
        padding:0 2%;
    }
}

@media (max-width: 991px) {
    .taper-left {
        border-right: none;
    }
    .taper-right {
        padding-left:  0px;
        margin-top: 50px;
    }
    #download {
        float: left;
    }
    .people-description h4,
    .people-description p {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
        margin-top: 10px;
    }
    .med-1 {
        font-size: 26px;
    }
    .med-2 {
        font-size: 26px;
    }
    #btn-audio-cc {
        margin-top: 20px;
    }
    #people-header {
        margin-top: 10px;
    }
    #single-image {
        max-width: 200px;
    }
}
