.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: normal;
}
.fc-event-title {
    color: #000;
}
#calendar1,
#calendar2,
#calendar3,
#calendar4,
#calendar5 {
    padding: 10px;
    margin-bottom: 90px;
}
.fc-event-title-container {
    text-align: center;
}
.fc-event-title-container img {
    max-width: 50%
}

.pill-image {
    max-width: 50%;
    height: auto;
    display:block;
    margin: 0 auto;
    background-image: none;
}
.two-pill-image {
    max-width: 50%;
    height: auto;
    display:block;
    margin: 0 auto;
    background-image: none;
}

.fc .fc-scrollgrid-section-liquid {
    height: 100%;
}
@media (max-width: 768px) {
    #calendar1,
    #calendar2,
    #calendar3,
    #calendar4,
    #calendar5 {
        padding: 0;
    }
}
@media print {    
    .background-2,
    .background-1,
    .background-three-quarters,
    .background-one-and-half,
    .background-half,
    .background-quarter,
    .background-three-eights,
    .background-eight,
    .background-0
    {
        display: none !important;
    }
    #calendar1,
    #calendar2,
    #calendar3,
    #calendar4,
    #calendar5  {page-break-inside: avoid;}
}